.agencySection {
  width: 100%;
  background: #fff;
  padding: 100px 0;
}

.agencyWrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.agencyContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.agencyText {
  flex: 1;
  min-width: 320px;
}

.agencyText h2 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-primary);
  line-height: 1.3;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.agencyText p {
  color: var(--text-dark);
  line-height: 1.6;
  font-size: 18px;
  max-width: 550px;
}

.agencySkills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin-top: 50px;
}

.agencySkill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.agencySkill span {
  font-weight: 600 !important;
  color: var(--color-primary) !important;
}

.agencyCircle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.purple {
  background-color: #8a56e9;
}

.orange {
  background-color: #ef573a;
}

.green {
  background-color: #3cb878;
}

.blue {
  background-color: #3aa0ef;
}

.agencySkill span {
  color: #333;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.agencyImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agencyImage img {
  max-width: 100%;
  height: auto;
}

/* ================= Responsive ================= */
/* ---------- ≤1300px ---------- */
@media (max-width: 1300px) {
  .agencyContent {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .agencyText h2 {
    font-size: 30px;
  }

  .agencySkills {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0 auto;
    max-width: 500px;
  }

  .agencySkill {
    width: 250px;
    height: 160px;
  }

  .agencyCircle {
    width: 70px;
    height: 70px;
    font-size: 20px;
  }

  .agencyText p {
    font-size: 16px;
    max-width: 100%;
  }
}

/* ---------- ≤600px ---------- */
@media (max-width: 600px) {
  .agencySection {
    padding: 60px 0;
  }

  .agencyText h2 {
    font-size: 24px;
  }

  .agencySkills {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .agencySkill {
    width: 100%;
    height: 140px;
  }

  .agencyCircle {
    width: 60px;
    height: 60px;
    font-size: 18px;
  }

  .agencyImage {
    margin-top: 20px;
  }

  .agencyImage img {
    width: 80%;
  }
}